<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoKeeper</title>
    <link rel="stylesheet" href="../Static/CSS/normalize.css">
    <link rel="stylesheet" href="../Static/CSS/style.css">
</head>
<body>
    <!-- flask -->
    <header>
        <div class="menuContainer">
            <div class="menuTriggier">
                <div class="menuTriggierLines"></div>
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Favorites</a></li>
                    <li><a href="">Settings</a></li>
                </ul>
            </nav>
        </div>
        <div class="menuContainerContent">
            <h1>PhotoKeeper</h1>
            
            <form action="">
                <!--Доробити-->
            </form>
        </div>
    </header>
    <main>
        <!--????-->
    </main>
    <footer>
        <p>PhotoKeeper 2021</p>
        <p>tel: 0 - 800 - 907 - 44</p>
        <p>e-mail: info@photokeeper.com</p>
    </footer>
    <script src="pk.js"></script>
</body>
</html>